Answer 1:

A **database** is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

There are two primary types of databases: **SQL** (relational databases) and **NoSQL** (non-relational databases). 

SQL databases use a relational model that works best with well-defined structured data, such as names and quantities, in which relations exist between different entities. SQL databases are scalable vertically, meaning that you can increase the maximum load by adding further storage components like RAM or SSD. 

On the other hand, NoSQL databases are non-relational databases that store data in a manner other than the tabular relations used within SQL databases. NoSQL databases are suitable for structured, semi-structured, and unstructured data. They don't follow a rigid schema but instead have more flexible structures to accommodate their data-types. NoSQL databases are scalable horizontally, meaning that they use multiple nodes in a cluster to handle increased workloads.

Answer 2:

**DDL** stands for **Data Definition Language** and is a subset of SQL and a part of DBMS (Database Management System). DDL consists of commands like **CREATE**, **ALTER**, **TRUNCATE**, and **DROP**. These commands are used to create or modify the tables in SQL.

- **CREATE**: This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes. For example, if we need to create a table for storing student information of a particular college, the syntax would be: ` CREATE TABLE Student_info (College_Id number(2), College_name varchar(30), Branch varchar(10));`.
- **ALTER**: This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily. For example, if we want to add a new column for CGPA in our Student_info table, the syntax would be: `ALTER TABLE Student_info ADD CGPA number;`.
- **TRUNCATE**: This command is used to remove all rows from the table, but the structure of the table still exists. For example, if the college authority wants to remove the details of all students for new batches but wants to keep the table structure, they can use the command: `TRUNCATE TABLE Student_info;`.
- **DROP**: This command is used to remove an existing table along with its structure from the database. For example, if the college authority wants to change their database by deleting the Student_info table, they can use the command: `DROP TABLE Student_info;`.

Answer 3:

**DML** stands for **Data Manipulation Language** and is a subset of SQL that consists of commands such as **INSERT**, **UPDATE**, and **DELETE**. These commands are used to view and manage data in a database.

- **INSERT**: This command is used to add new rows to a table. For example, if we want to insert a new row into our Student_info table with the values `College_Id = 1`, `College_name = 'ABC College'`, and `Branch = 'Computer Science'`, the syntax would be: `INSERT INTO Student_info (College_Id, College_name, Branch) VALUES (1, 'ABC College', 'Computer Science');`.
- **UPDATE**: This command is used to modify the data in existing rows of a table. For example, if we want to update the `Branch` value of the row where `College_Id = 1` to `'Mechanical Engineering'`, the syntax would be: `UPDATE Student_info SET Branch = 'Mechanical Engineering' WHERE College_Id = 1;`.
- **DELETE**: This command is used to remove one or more rows from a table. For example, if we want to delete the row where `College_Id = 1`, the syntax would be: `DELETE FROM Student_info WHERE College_Id = 1;`.

Answer 4:
    
**DQL** stands for **Data Query Language** and is a subset of SQL that consists of the **SELECT** command. DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it.

- **SELECT**: This command is used to retrieve data from a database. For example, if we want to retrieve all rows from our Student_info table where `Branch = 'Computer Science'`, the syntax would be: `SELECT * FROM Student_info WHERE Branch = 'Computer Science';`.

Answer 5:

A **Primary Key** is a column or a set of columns that uniquely identifies each row in a table. It must contain unique values and cannot contain null values.

A **Foreign Key** is a column or a set of columns in one table that refers to the primary key of another table. The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table. The foreign key constraint is used to prevent actions that would destroy links between tables.

Answer 6:

Here is an example of how to connect to a MySQL database using Python:

```python
import mysql.connector

# Establish a connection to the MySQL database
mydb = mysql.connector.connect(
  host="hostname",
  user="username",
  password="password",
  database="database_name"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM table_name")

# Fetch the results
myresult = mycursor.fetchall()

# Print the results
for row in myresult:
  print(row)
```

The `cursor()` method is used to create a cursor object, which is used to execute SQL queries on the database. The `execute()` method is a method of the cursor object and is used to execute a SQL query. The results of the query can then be fetched using methods such as `fetchall()` or `fetchone()`.

Answer 7:

The order of execution of SQL clauses in an SQL query is as follows:

1. **FROM** clause
2. **ON** clause
3. **OUTER** clause
4. **WHERE** clause
5. **GROUP BY** clause
6. **HAVING** clause
7. **SELECT** clause
8. **DISTINCT** clause
9. **ORDER BY** clause
10. **TOP** clause