In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [8]:
#Answer 1:

print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Answer 2:

`loc` and `iloc` are two methods used for slicing data from a Pandas DataFrame. The main difference between them is that `loc` is label-based data selecting method which means that we have to pass the name of the row or column which we want to select, while `iloc` is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/columnÂ¹.

For example, if you want to select the first row of a DataFrame `df`, you can use `df.iloc[0]` to select the first row based on its integer index. If the index of the DataFrame is a set of labels instead of integers, you can use `df.loc[label]` to select the row with the specified label.

In summary, `loc` selects rows and columns based on their labels while `iloc` selects them based on their integer index.

In [3]:
#Answer 3:

new_df = df.reindex([3, 0, 1, 2])
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

There is a difference in both outputs because in iloc[2], it is showing data of index value 2 but in loc[2] it is showing row with a value of 'duration' column to be 2.

In [1]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [5]:
#Answer 4:

df1.mean()

column_1    0.478557
column_2    0.337628
column_3    0.428368
column_4    0.415320
column_5    0.535032
column_6    0.483536
dtype: float64

In [4]:
df1['column_2'].std()

0.34322542239712295

In [15]:
#Answer 5:
df1.loc[1:7,'column_2'] = ['a', 'b', 'c', 'd', 'e', 'f']
df1['column_2'].mean()

TypeError: Could not convert abcdef to numeric

It is showing error because the mean can only be calculated of numeric values, not string values.

## Answer 6:

In Pandas, a window function performs an operation over a sliding partition of values. Pandas supports **4 types** of windowing operations: 
1. **Rolling window**: Generic fixed or variable sliding window over the values.
2. **Weighted window**: Weighted, non-rectangular window supplied by the scipy.signal library.
3. **Expanding window**: Accumulating window over the values.
4. **Exponentially Weighted window**: Accumulating and exponentially weighted window over the values.

In [16]:
#Answer 7:

import pandas as pd

now = pd.to_datetime('today')
current_month = now.month
current_year = now.year

print(f'Current Month: {current_month}')
print(f'Current Year: {current_year}')

Current Month: 6
Current Year: 2023

In [19]:
#Answer 8:

import pandas as pd

date1 = input('Enter the first date (YYYY-MM-DD): ')
date2 = input('Enter the second date (YYYY-MM-DD): ')

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

delta = date2 - date1

days = delta.days
hours = delta.components.hours
minutes = delta.components.minutes

print(f'The difference between the two dates is: {days} days, {hours} hours, and {minutes} minutes.')

Enter the first date (YYYY-MM-DD):  1999-07-11
Enter the second date (YYYY-MM-DD):  2023-06-01

The difference between the two dates is: 8726 days, 0 hours, and 0 minutes.

# Answer 9:

Here is a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program prompts the user to enter the file path, column name, and category order, and then displays the sorted data:

```python
import pandas as pd

file_path = input('Enter the file path: ')
column_name = input('Enter the column name: ')
category_order = input('Enter the category order (comma-separated): ')

category_order = category_order.split(',')

df = pd.read_csv(file_path)
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

df = df.sort_values(by=column_name)

print(df)
```

# Answer 10:

Here is a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program prompts the user to enter the file path and displays the chart:

```python
import pandas as pd
import matplotlib.pyplot as plt

file_path = input('Enter the file path: ')

df = pd.read_csv(file_path)

df.groupby(['date', 'category'])['sales'].sum().unstack().plot(kind='bar', stacked=True)

plt.title('Sales by Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')

plt.show()
```

Note that this code assumes that the CSV file has columns named `date`, `category`, and `sales` representing the date of the sale, the product category, and the sales amount, respectively. You may need to adjust the column names in the code to match the column names in your CSV file.

# Answer 11:

Here is a Python program that reads a CSV file containing student data that includes the student ID and their test score, calculates the mean, median, and mode of the test scores, and displays the results in a table:

```python
import pandas as pd

file_path = input('Enter the file path: ')

df = pd.read_csv(file_path)

mean = df['test_score'].mean()
median = df['test_score'].median()
mode = df['test_score'].mode().tolist()

result = pd.DataFrame({'Statistics': ['Mean', 'Median', 'Mode'], 
                       'Value': [mean, median, mode]})

print(result)
```

Note that this code assumes that the CSV file has columns named `id` and `score` representing the student ID and their test score, respectively. You may need to adjust the column names in the code to match the column names in your CSV file.