Answer 1:

Here are five functions of the `pandas` library along with examples of their execution:

1. `read_csv()`: reads data from a CSV file into a `DataFrame`.
```python
import pandas as pd

# Read data from CSV file into DataFrame
df = pd.read_csv('data.csv')

# Display resulting DataFrame
print(df)
```

2. `head()`: returns the first n rows of a `DataFrame`.
```python
import pandas as pd

# Create DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Get first two rows of DataFrame
result = df.head(2)

# Display resulting DataFrame
print(result)
```

3. `merge()`: merges two `DataFrames` based on a common column.
```python
import pandas as pd

# Create DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [1, 2], 'C': [5, 6]})

# Merge DataFrames on column 'A'
result = pd.merge(df1, df2, on='A')

# Display resulting DataFrame
print(result)
```

4. `dropna()`: drops rows or columns with missing values from a `DataFrame`.
```python
import pandas as pd
import numpy as np

# Create DataFrame with missing values
df = pd.DataFrame({'A': [1, np.nan], 'B': [np.nan, 2]})

# Drop rows with missing values
result = df.dropna()

# Display resulting DataFrame
print(result)
```

5. `to_datetime()`: converts argument to datetime.
```python
import pandas as pd

# Create Series of dates as strings
s = pd.Series(['2022-01-01', '2022-01-02', '2022-01-03'])

# Convert to datetime
result = pd.to_datetime(s)

# Display resulting Series
print(result)
```

Answer 2:
```python
import pandas as pd

# Create DataFrame with 10 rows
df = pd.DataFrame({'A': range(10), 'B': range(10), 'C': range(10)})

# Create new index
new_index = range(1, len(df)*2+1, 2)

# Re-index DataFrame
df = df.reindex(new_index)

# Display resulting DataFrame
print(df)
```

In this example, we create a DataFrame with 10 rows and columns ‘A’, ‘B’, and ‘C’, and use the built-in reindex() function to re-index it with a new index that starts from 1 and increments by 2 for each row. The resulting **DataFrame** has the same data but with a new index.

In [1]:
#Answer 3:

#Here's a Python function that takes a `DataFrame` `df` with a column named 'Values' as input and calculates the sum of the first three values in the 'Values' column. The function prints the sum to the console:

def sum_first_three(df):
    # Get first three values in 'Values' column
    values = df['Values'][:3]
    
    # Calculate sum
    total = sum(values)
    
    # Print sum
    print(total)


#Here's an example of how you might use this function:

import pandas as pd

# Create DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Calculate sum of first three values in 'Values' column
sum_first_three(df)

#In this example, we create a `DataFrame` with a column named 'Values' and use the `sum_first_three()` function to calculate the sum of the first three values in the 'Values' column. The function prints the sum to the console.

60

Answer 4:

Sure! Here's a Python function that takes a `DataFrame` `df` with a column named 'Text' as input and creates a new column 'Word_Count' that contains the number of words in each row of the 'Text' column using built-in functions:

```python
def add_word_count(df):
    # Create new column 'Word_Count' with word count for each row in 'Text' column
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    
    return df
```

Here's an example of how you might use this function:
```python
import pandas as pd

# Create DataFrame
df = pd.DataFrame({'Text': ['This is a test', 'Another test', 'One more test']})

# Add 'Word_Count' column
df = add_word_count(df)

# Display resulting DataFrame
print(df)
```
In this example, we create a `DataFrame` with a column named 'Text' and use the `add_word_count()` function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column using built-in functions. The resulting `DataFrame` has the same data but with an additional 'Word_Count' column.

Answer 5:

`DataFrame.size` and `DataFrame.shape` are two attributes of a `pandas` `DataFrame` that provide information about its size.

`DataFrame.size` returns the total number of elements in the `DataFrame`. This is equal to the product of the number of rows and the number of columns.

`DataFrame.shape` returns a tuple representing the dimensions of the `DataFrame`. The first element of the tuple is the number of rows and the second element is the number of columns.

Here's an example that shows how these two attributes are different:
```python
import pandas as pd

# Create DataFrame
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})

# Get size of DataFrame
size = df.size

# Get shape of DataFrame
shape = df.shape

# Display size and shape
print(f'Size: {size}')
print(f'Shape: {shape}')
```
In this example, we create a `DataFrame` with 2 rows and 2 columns. The `size` attribute returns 4, which is the total number of elements in the `DataFrame`, while the `shape` attribute returns `(2, 2)`, which represents the dimensions of the `DataFrame`.

Answer 6:

To read data from an Excel file into a `pandas` `DataFrame`, you can use the `read_excel()` function. This function reads data from an Excel file into a `DataFrame`, where each sheet in the Excel file is represented as a separate `DataFrame` object.

Here's an example that shows how to use the `read_excel()` function to read data from an Excel file:
```python
import pandas as pd

# Read data from Excel file into DataFrame
df = pd.read_excel('data.xlsx')

# Display resulting DataFrame
print(df)
```
In this example, we use the `read_excel()` function to read data from an Excel file named 'data.xlsx' into a `DataFrame`. The resulting `DataFrame` contains the data from the first sheet in the Excel file.

Answer 7:

Here's a Python function that takes a `DataFrame` `df` with a column named 'Email' as input and creates a new column 'Username' that contains only the username part of each email address:

```python
def add_username_column(df):
    # Create new column 'Username' with username part of email address
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    
    return df
```

Here's an example of how you might use this function:
```python
import pandas as pd

# Create DataFrame
df = pd.DataFrame({'Email': ['alice@example.com', 'bob@example.com', 'charlie@example.com']})

# Add 'Username' column
df = add_username_column(df)

# Display resulting DataFrame
print(df)
```
In this example, we create a `DataFrame` with a column named 'Email' and use the `add_username_column()` function to create a new column 'Username' that contains only the username part of each email address. The resulting `DataFrame` has the same data but with an additional 'Username' column.

In [2]:
#Answer 8:

import pandas as pd

df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                  'B': [5, 2, 9, 3, 1],
                  'C': [1, 7, 4, 5, 2]})

df1 = df[(df['A'] > 5) & (df['B'] < 10)]
df1

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In the above question, the Output given in the assignment is wrong. This will be the correct one.

Answer 9:

```python
# Calculate mean
mean = df['Values'].mean()
    
# Calculate median
median = df['Values'].median()
    
# Calculate standard deviation
std = df['Values'].std()
```

Answer 10:

Here's a Python function that takes a `DataFrame` `df` with columns 'Sales' and 'Date' as input and creates a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the `DataFrame`. The moving average is calculated using a window of size 7 and includes the current day:

```python
def add_moving_average(df):
    # Create new column 'MovingAverage' with 7-day moving average of sales
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df
```

Here's an example of how you might use this function:
```python
import pandas as pd

# Create DataFrame
df = pd.DataFrame({'Date': pd.date_range('2022-01-01', '2022-01-10'), 'Sales': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

# Add 'MovingAverage' column
df = add_moving_average(df)

# Display resulting DataFrame
print(df)
```
In this example, we create a `DataFrame` with columns 'Date' and 'Sales' and use the `add_moving_average()` function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the `DataFrame`. The resulting `DataFrame` has the same data but with an additional 'MovingAverage' column.

In [5]:
#Answer 11:

import pandas as pd
dates = pd.Series(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'])
date_time = pd.to_datetime(dates)

date_df = pd.DataFrame({'Date': date_time})
date_df['WeekDay'] = date_df['Date'].dt.day_name()

date_df

        Date    WeekDay
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Answer 12:

You can select all rows in a Pandas DataFrame `df` where the date is between '2023-01-01' and '2023-01-31' by using boolean indexing. Here's an example code snippet that shows how to do this:

```python
mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
selected_rows = df[mask]
```

This will create a new DataFrame `selected_rows` that contains only the rows from `df` where the date is between '2023-01-01' and '2023-01-31'. You can then use `selected_rows` to perform further analysis or operations on the selected data.

Answer 13:

To use the basic functions of pandas, you need to import the pandas library itself. You can do this by using the import statement in Python. Here’s an example code snippet that shows how to import the pandas library:
```python
import pandas as pd
```